<html layout:decorate="_layout">
    <head>
        <title>UTP Integrador - Profesores</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Profesores</h1>
            <p class="text-end">
                <button class="btn btn-primary" @click="nuevo">Nuevo</button>
            </p>
            <p>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in entidades">
                        <td>{{item.id}}</td>
                        <td>{{item.nombres}}</td>
                        <td>{{item.apellidos}}</td>
                        <td class="text-end">
                            <button class="btn btn-primary" @click="editar(item.id)">Editar</button>
                            <button class="btn btn-danger" @click="eliminar(item.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal" tabindex="-1" id="mdlEntidad">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" v-if="entidad.id==0">Nuevo</h5>
                            <h5 class="modal-title" v-if="entidad.id!=0">Editar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="nombres" class="col-sm-2 col-form-label">Nombres</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="nombres" v-model="entidad.nombres" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="apellidos" v-model="entidad.apellidos" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" v-if="entidad.id==0" @click="guardar">Guardar</button>
                            <button type="button" class="btn btn-primary" v-if="entidad.id!=0" @click="actualizar">Actualizar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="mdlEliminar">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que quieres eliminar?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" @click="confimareliminacion">Eliminar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script layout:fragment="script">
            new Vue({
                el: "#app",
                data: {
                    entidades: [],
                    entidad: []
                },
                methods: {
                    listar: function () {
                        this.$http.get('/api/profesor').then(response => {
                            this.entidades = response.data;
                        });
                    },
                    nuevo: function () {
                        this.entidad = {
                            id: 0,
                            nombres: "",
                            apellidos: ""
                        };
                        $("#mdlEntidad").modal("show");
                    },
                    editar: function (id) {
                        this.$http.get('/api/profesor/' + id).then(response => {
                            this.entidad = response.data;
                            $("#mdlEntidad").modal("show");
                        });
                    },
                    guardar: function () {
                        this.$http.post('/api/profesor', this.entidad).then(response => {
                            this.listar();
                            $("#mdlEntidad").modal("hide");
                        });
                    },
                    actualizar: function () {
                        this.$http.put('/api/profesor/' + this.entidad.id, this.entidad).then(response => {
                            this.listar();
                            $("#mdlEntidad").modal("hide");
                        });
                    },
                    eliminar: function (id) {
                        this.entidad.id = id;
                        $("#mdlEliminar").modal("show");
                    },
                    confimareliminacion: function () {
                        this.$http.delete('/api/profesor/' + this.entidad.id).then(response => {
                            this.listar();
                            $("#mdlEliminar").modal("hide");
                        });
                    }
                },
                mounted: function () {
                    this.listar();
                }
            });
        </script>
    </body>
</html>







